@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", serif;
}

.container {
  width: 92%;
  max-width: 1180px;
  margin: 0 auto;
}

.testimonials h2 {
  color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  animation-duration: 0.7s;
  animation-name: fadeInDown;
  animation-timing-function: ease-out;
  z-index: 999;
  border-bottom: 1px solid #ccc;
}
/* .sticky a {
  color: #ffffff;
} */
.sticky .dark-extra-color {
  color: #ffffff;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.table-modify td {
  width: 160px;
}

.table-modify td:first-child {
  width: auto;
}

.table-modify th {
  width: 210px;
}
